nav {
  background-color: rgb(232, 235, 91);
}

.logo-header {
  width: 90px;
  border-radius: 50%;

}

.header {
  width: 150px;
}

.sercch-header {
  flex-grow: 2;
}

.registration {
  display: flex;
  width: 20%;
  justify-content: space-around;
}