<div class="col-sm-6">
  <div class="card" style="width: 18rem;">
    <img src={{urlImage}} class="card-img-top" alt={{label}}>
    <div class="card-body">
      <h5 class="card-title">{{label}}</h5>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p> -->
      <a href="#" class="btn btn-primary">description</a>
      <!-- <button type="button" class="btn btn-primary">description</button> -->
    </div>
  </div>
</div>